:root {
  --title-color: #322153;
  --primary-color: #34cb79;
  --primary-white: #f0f0f5;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Barlow", sans-serif;
}

body {
  background-color: var(--primary-white);
  -webkit-font-smooting: antialiased;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: "Ubuntu", sans-serif;
}
